In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
data= pd.read_csv("../input/train.csv.zip",index_col=False)
test_data= pd.read_csv("../input/test.csv.zip", index_col=False)
data.head(2)

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.0,0.00293,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.0,0.00000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461

In [4]:
# #Checking Null values
# obj = data.isnull().sum()
# for key, value in obj.iteritems():
# #     print(key,":",value)

# obj_2 = test_data.isnull().sum()
# for key, value in obj_2.iteritems():
# #     print(key,":",value)

In [5]:
# obj2 = data['species'].value_counts()
# for key, value in obj2.iteritems():
# #     print(key,":",value)

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
le=encoder.fit(data.species)
labels=le.transform(data.species)
classes=list(le.classes_)
# classes

In [7]:
data=data.drop(['id','species'],axis=1)
test_id=test_data.id
test_data=test_data.drop(['id'],axis=1)

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data,labels,test_size=.2,shuffle=True,stratify=labels)

In [9]:
from sklearn.ensemble import ExtraTreesClassifier
lda = ExtraTreesClassifier(bootstrap=False,
                           ccp_alpha=0.0,
                           class_weight=None,
                           criterion='gini',
                           max_depth=60,
                           max_features='sqrt',
                           max_leaf_nodes=None,
                           max_samples=None,
                           min_impurity_decrease=0.0,
                           min_impurity_split=None,
                           min_samples_leaf=2,
                           min_samples_split=10,
                           min_weight_fraction_leaf=0.0,
                           n_estimators=195,
                           n_jobs=None, oob_score=False,
                           random_state=6713, verbose=0,
                           warm_start=False)

lda.fit(x_train,y_train)

ExtraTreesClassifier(max_depth=60, max_features='sqrt', min_samples_leaf=2,
                     min_samples_split=10, n_estimators=195, random_state=6713)

In [10]:
lda.score(x_train,y_train), lda.score(x_test,y_test)

(0.9987373737373737, 1.0)

In [12]:
predicted=lda.predict_proba(test_data)

sample_df=pd.read_csv('../input/sample_submission.csv.zip',index_col=False)
sample_df.head(2)

,id,Acer_Capillipes,Acer_Circinatum,Acer_Mono,Acer_Opalus,Acer_Palmatum,Acer_Pictum,Acer_Platanoids,Acer_Rubrum,Acer_Rufinerve,...,Salix_Fragilis,Salix_Intergra,Sorbus_Aria,Tilia_Oliveri,Tilia_Platyphyllos,Tilia_Tomentosa,Ulmus_Bergmanniana,Viburnum_Tinus,Viburnum_x_Rhytidophylloides,Zelkova_Serrata
0,4,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,...,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101
1,7,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,...,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101,0.010101

In [13]:
df_sub=pd.DataFrame(predicted,columns=sample_df.columns[1:])
df_sub.head(2)

,Acer_Capillipes,Acer_Circinatum,Acer_Mono,Acer_Opalus,Acer_Palmatum,Acer_Pictum,Acer_Platanoids,Acer_Rubrum,Acer_Rufinerve,Acer_Saccharinum,...,Salix_Fragilis,Salix_Intergra,Sorbus_Aria,Tilia_Oliveri,Tilia_Platyphyllos,Tilia_Tomentosa,Ulmus_Bergmanniana,Viburnum_Tinus,Viburnum_x_Rhytidophylloides,Zelkova_Serrata
0,0.000000,0.000733,0.000000,0.000000,0.000000,0.011844,0.000000,0.000000,0.001709,0.004579,...,0.000000,0.00000,0.000000,0.002051,0.00057,0.001026,0.00000,0.000000,0.022906,0.000000
1,0.000641,0.001667,0.010832,0.018445,0.001923,0.007692,0.037678,0.000733,0.000000,0.005769,...,0.001211,0.01046,0.000855,0.000000,0.00000,0.014135,0.00465,0.003724,0.001709,0.010112

In [14]:
df_sub1=pd.DataFrame(test_id)
df_sub1.head(2)

   id
0   4
1   7

In [15]:
final_sub=pd.concat([df_sub1,df_sub],axis=1)
final_sub.to_csv('sample_submission.csv',index=False)